/* CSS Document */

body {
	font-size: 12px;
	background-position: center -58px;
}

a { }

a:hover { }

img { }

.last { }

#container {
	width:100%;
	max-width: 605px;
	margin: 0 auto 20px;
	padding: 0;
	padding-bottom: 230px;
}

#wrapper {
	width: 100%;
	padding: 6px 0 0 2px;
	margin-bottom:45px;
}

h1 {
	font-size: 2em;
	font-weight: normal;
	margin: 1em 0;
	padding: 0;
}

#content-full {
	width: 100%;
	margin: 0;
	padding: 40px 20px 0 10px;
	min-height:300px;
}

.error404 a { }

.navigation { }

::-webkit-input-placeholder { }
::-moz-placeholder { } /* firefox 19+ */
:-ms-input-placeholder { } /* ie */
input:-moz-placeholder { }

:focus::-webkit-input-placeholder { }
:focus::-moz-placeholder { } /* firefox 19+ */
:focus:-ms-input-placeholder { } /* ie */
input:focus:-moz-placeholder { }

/*************** Header *****************/

#header {
	width: 100%;
	max-width:605px;
	padding: 16px 0 0;
}

.autreLangue {
}


.autreLangue a.mobile {
	display: none;
}


.autreLangue a {
	width: 97px;
	font-size: 11px;
	margin: 0 0 0 3px;
	padding: 2px 0;
}

.autreLangue a:hover, .autreLangue a.on { }

.autreLangue a.ar {
	padding: 4px 0 0;
}

/*************** Block Top-widget *****************/

#top-widget {
	margin: 5px 0;
}

#top-widget #searchform {
	width: 200px;
}

#top-widget input[type="text"] {
	padding: 6px 8px;
}

#top-widget input.field {
	font-size: 10px;
}

#top-widget input.field:focus { }

#top-widget #searchsubmit {
	width: 27px;
	height: 27px;
}

#top-widget .meteo {
	display: none;
}

/*****************************/

#header a.logo {
	width: 250px;
	height: 45px;
	margin: 0 0 25px;
}

.home #header a.logo {
	margin: 0 0 15px;
}
.menuMain {
	margin: 0 0 10px
}

.menuMain a {
	width: 100%;
	max-width: 97px;
	font-size: 13px;
	padding: 5px 10px;
	margin: 0 2px 0 0;
}

.menuMain a.decouvrir, .menuMain a.profondeur {
	/*display: none;*/
}

.menuMain a.on,
.menuMain a:hover { }

.menuMain a.last {
	margin-right: 5px !important;
	max-width: 118px;
	/*float: left !important;*/
}

.teasersAutreLangue {
	margin: 0 0 50px;
}

.teasersAutreLangue div.wrap {
	width: 100%;
	max-width: 24%;
	margin: 0 1% 0 0;
}

.teasersAutreLangue img {
	width: 100%;
	max-height: 115px;
	height: auto;
}

.teasersAutreLangue img.phBrokenImage { }

.teasersAutreLangue .wrap div {
	font-size: 11px;
	padding: 2px 2%;
	width: 100%;
	max-width: 96%;
	height: 27px;
	bottom: 0;
}

.teasersAutreLangue div.wrap.zh span, .teasersAutreLangue div.wrap.ar span { }

.teasersAutreLangue div.wrap.ar span { }

.teasersAutreLangue .wrap div span { }

/*************** Accueil *****************/

.home #wrapper {
	margin: 0 auto 20px;
	width: 100%;
	max-width: 605px;
}

.col-620 {
	width:100%;
}
.home .col-620 h3 {
	font-size: 20px;
	margin: 0 0 5px;
}

a.photoLink {
	width:300px;
	height:168px;
}

a.photoLink img, a.photoLink img { }

a.photoLink .loupe, a.photoLink .loupe {
	bottom:-1px;
	width:62px;
	height:60px;
	right:-1px;
}

a.photoLink .sousTitre, .partagez #envoyezPhoto {
	font-size:13px;
	line-height:30px;
	padding:0px 11px;
}

/*******************/

#slide1 {
	margin-bottom: 20px;
}

#slide1 .bx-controls { }


#slide1 .bx-controls * { }

#slide1 .pager a {
	line-height: 30px;
	padding: 5px;
	margin: 0 3px 0
}

#slide1 .pager a.active { }

#slide1 div.wrap {
	font-size: 11px;
}

#slide1 img {
	width: 100%;
	margin: 0;
}

#slide1 .wrap div {
	width: 100%;
	height: 60px;
	padding: 10px;
}

[dir="rtl"] #slide1 .wrap div { }

#slide1 .wrap h4 {
	font-size: 20px;
}

#slide1 .wrap p {
	font-size: 12px;
}

/*******************/

.boxPlus {
	padding: 0 0 28px;
	margin: 0 0 20px
}

.boxPlus div.wrap {
	width: 32%;
	margin: 0 2% 2% 0;
}

.boxPlus img {
	width: 100%;
	height: auto;
}

.boxPlus .wrap div {
	padding: 2%;
	font-size: 13px;
	width: 96%;
	height: 75px;
}

.boxPlus .wrap div h4 {
	font-size: 15px;
	line-height: 18px;
	margin: 5px 0 0;
}

.boxPlus #toggle { }

.togglePlus {
	line-height: 26px;
	bottom: 1px;
}

.togglePlus span { }

.togglePlus .on { }

.boxPlus.WE div.wrap {
	width: 48%;
}

.boxPlus.WE img {
	width: 100%;
	height: auto;
}

.boxPlus.WE .wrap div {
	padding: 2%;
	width: 96%;
}

/*******************/

#slide3 {
	margin: 0 0 20px;
}

#slide3 h3 {
	font-size: 20px;
	width: 50%;
}

#slide3 .bxcontrols { }

#slide3 .bxcontrols {
	width:  75px;
	margin: 0 0 5px;
}

#slide3 .bxcontrols span {
	margin: 0 4px 0;
	height: 20px;
}

#slide3 .bxcontrols a {
	width: 13px;
	height: 20px;
}

#slide3 .bxcontrols .pager {
	line-height: 20px;
}

#slide3 .bxcontrols .bx-prev { }

#slide3 .bxcontrols .bx-next { }

#slide3 .bx-wrapper{ }

#slide3 div.wrap {
	width: 31.5%;
	height: 205px;
	margin: 0 1% 0 0;
	padding: 1px;
}

#slide3 img {
	width: 192px;
	height: auto;
}

#slide3 .wrap div {
	height: 5px;
}

#slide3 .wrap h4 {
	margin: 10px 5px 5px;
	font-size: 11px;
}

#zh-CN #slide3 .wrap h4 {
	font-size: 12px;
}

#slide3 .wrap p {
	margin: 10px 5px;
	font-size: 15px;
	line-height: 18px;
}


.blockAlbumTeasers .teasers {
	/*width: 300px;*/
}

.blockAlbumTeasers .teasers a {
	height:100px;
	margin-bottom:30px;
}

.blockAlbumTeasers .teasers a img.phBrokenImage { }

.blockAlbumTeasers .teasers img {
	width: 300px;
	margin: 0;
}

.blockAlbumTeasers .teasers .last { }

#cboxLoadedContent, #cboxContent {
	border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#formPartagezCanada {
	width:500px;
	padding:20px;
	border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#formPartagezCanada h1 {
	margin-top:10px;
}

#formPartagezCanada * { }

#formPartagezCanada ul, #formPartagezCanada li {
	margin:0px;
	padding:0px;
}

#formPartagezCanada li.requis { }

#formPartagezCanada label { }

#formPartagezCanada input {
	margin-bottom:15px;
}

#formPartagezCanada input.submit {
	margin: 15px 0 0;
}

#formPartagezCanada textarea {
	height:100px;
}

#formPartagezCanada .invalid input, #formPartagezCanada .invalid textarea { }

#formPartagezCanada .invalid label { }

#formPartagezCanada .invalid input[type="file"] {
	border:0px;
}

#formPartagezCanada input#agree {
	top:20px;
}

#formPartagezCanada #labelAgree {
	width:420px;
	margin-left:20px;
	padding-top:17px;
}

#formPartagezCanada .colGauche, #formPartagezCanada .colDroite { }

#formPartagezCanada .colGauche {
	padding-right:10px;
}

#formPartagezCanada .colDroite {
	padding-left:10px;
}

#formPartagezCanada .colPleine { }

#formPartagezCanada #submit {
	margin-top:10px;
	width: 163px;
	padding: 6px;
}

#formPartagezCanada #submit:hover { }

#cboxContent #cboxClose {
	top:12px;
	right:20px;
}

[lang="ar"] #formPartagezCanada input#agree { }

[lang="ar"] #formPartagezCanada .colGauche, #formPartagezCanada .colDroite { }

[lang="ar"] #formPartagezCanada .colGauche {
	padding-right:0px;
	padding-left:10px;
}

[lang="ar"] #formPartagezCanada .colDroite {
	padding-left:0px;
	padding-right:10px;
}

[lang="ar"] #cboxContent #cboxClose {
	left:20px;
}

[lang="ar"] #formPartagezCanada #submit { }

/********* Posts ***********/

.col-620 img.primeur { }

.col-620 p.legende {
	width: 96%;
	max-width: 605px;
	padding: 0 2%;
}

figure {
	margin: 0 0 10px;
	max-width: 100%;
}

figure br, figure p { }

figure.image figcaption br, figure.image figcaption p { }

figure img {
	width: 100%;
	max-width: 100% !important;
}

figure.align-center {
}

figure.align-left {
	margin-right:10px;
}

figure.align-right {
	margin: 0 0 10px 10px;
}

figure.image figcaption {
	font-size: 12px;
}

/********* sidebar home ***********/

.home .sidebar { }

.sidebar .question { 
	float: left;
	clear: left;
}

.sidebar .question h4 {
	padding: 5px;
}

.sidebar .question .laQuestion {
	padding: 20px 0;
}

.sidebar .question .laQuestion p {
	font-size: 18px;
	padding: 0 15px;
}

.sidebar .question .laQuestion a { }

.sidebar .question .dernier {
	font-size: 13px;
	padding: 5px;
}

/********************/

.sidebar .partagez {
	float: right;
	clear: right;
}

/********************/

.sidebar .reso {
	float: left;
	clear: left;
}

.sidebar .reso h4 {
	font-size: 20px;
}

.sidebar .reso .gen {

	margin: 0 0 1px;
	font-size: 15px;
}

.sidebar .reso .fb a {
	font-size: 15px;
}

.sidebar .reso .fb-like {
	padding: 20px 10px;
}

.sidebar .reso .gen img {
	margin: 3px 10px;
}

/********************/

.home .sidebar .aEcoute {
	float: right;
	clear: right;
}

.sidebar .aEcoute {
	float: right;
	clear: right;
}

.sidebar .aEcoute a { }

.sidebar .aEcoute .emissionHebdo { }

.sidebar .aEcoute .emissionHebdo .hebdo {
	padding: 24px 0 24px 104px;
	font-size:13px;
	line-height: 16px;
}
/* 
#es-ES .aEcoute .emissionHebdo .hebdo {
	padding: 7px 0 7px 104px;
}

#fr-FR .aEcoute .emissionHebdo .hebdo {
	padding: 20px 0 12px 104px;
}

#zh-CN .aEcoute .emissionHebdo .hebdo {
	padding: 24px 0 24px 104px;
}
*/

.sidebar .aEcoute .hebdo span {
	font-weight: normal;
}

.sidebar .aEcoute .all {
	padding: 3px 10px;
}

.sidebar .aEcoute .gen {
	padding: 3px 10px;
	margin: 0 0 1px;
	font-size: 13px;
}

.sidebar .aEcoute .links {
	height: 93px;
	overflow: hidden;
}

.sidebar .aEcoute .links a {
	width: 138px;
	padding: 30px 0 10px 10px;
}

/********************/


.home .filsNouvelles {
	float: left;
	clear: left;
}


.filsNouvelles {
	margin-top: 21px !important;
	float: left;
	clear: left;
}


.filsNouvelles .selector { }

.filsNouvelles .selector a {
	height:32px;
	line-height:32px;
	font-size:11px;
}

.filsNouvelles .selector a:hover, .filsNouvelles .selector a.on { }

.filsNouvelles .lesFils {
	height: 300px;
	padding: 0 0 10px;
}

.filsNouvelles .lesFils .RC, .filsNouvelles .lesFils .CBC {
	width: 280px;
	padding: 0 10px;
	height: 290px;
	top: 10px;
}

.filsNouvelles .lesFils .CBC { }

.filsNouvelles .clip {
	line-height: 14px;
	padding: 0 0 5px;
	margin: 0 0 10px;
	font-size:13px;
}

.filsNouvelles span { }

.filsNouvelles a:hover { }

/******************** Sidebar gen*********************/


.sidebar {
	width: 100%;
	padding: 24px 0 0 0;
}

.sidebar .col-300 {
	float: none;
}

.sidebar div h4 {
	margin: 0 0 3px;
}

.sidebar div p { }

.sidebar .block {
	margin: 0 0 20px;
	width: 300px;
}
/********************/

.sidebar .recherche {
	float: left;
	clear: left;
}

.sidebar .recherche div {
	padding: 0 0 10px 10px;
}

.sidebar .recherche p {
	padding-top: 10px;
}

.sidebar .recherche select { }

/********************/

.sidebar .teasers{
	float: right;
	clear: right;
}

.sidebar .teasers a {
	margin: 0 0 10px;
}

/********************/

.selecteurFils {
	float: right;
	margin: 21px 0 0 !important;
}

.selecteurFils .selector { }

.selecteurFils .selector a {
	width: 98px;
	font-size: 11px;
	height: 25px;
	padding: 15px 0 0;
	line-height: 12px;
}

.selecteurFils .selector a.mid {
	margin: 0 3px 0;
}


#ar .selecteurFils .selector a,
#zh-CN .selecteurFils .selector a {
	font-size: 15px;
}

.selecteurFils .selector a.L2 {
	height: 30px;
	padding: 10px 0 0;
}

.selecteurFils .selector a:hover,
 .selecteurFils .selector a.on { }

.selecteurFils a:hover { }

.selecteurFils .lesFils {
	height: 300px;
	padding: 0 0 24px;
	margin: 0 0 20px;
}

.selecteurFils .lesFils .VC,
.selecteurFils .lesFils .AL,
.selecteurFils .lesFils .HL {
	width: 280px;
	padding: 0 10px;
	height: 290px;
	top: 10px;
}

.selecteurFils .lesFils .AL { }

.selecteurFils .lesFils .HL { }

.selecteurFils .clip {
	line-height: 14px;
	padding: 0 0 5px;
	margin: 0 0 10px;
}

.selecteurFils span {
	font-size: 11px;
}


/*************** Footer *****************/

#footer {
	min-width: 240px;
	bottom:-120px;
	left:0;
}

#zh-CN #footer {
	font-size: 12px;
}

#footer-wrapper {
	margin: 10px auto 0;
	width: 100%;
	max-width: 605px;
}

#footer-wrapper .grid.col-940 {
	margin: 0 0 20px;
}

#footer .bloc {
	max-width: 135px;
	padding: 0 15px 0 15px;
}

#footer h4 {
	margin: 5px 0 10px;
	font-size: 15px;
}

#footer p {
	font-size: 12px;

}

#footer a { }

#footer .bloc.b1 {
	width: auto;
	max-width: none;
	float: none;
	clear: both;
	text-align: right;
}

#footer .bloc.b1 p{
	font-size: 11px;
}

#footer .bloc.b2, #footer .bloc.b4 {
	max-width: 200px;
}

#footer a.logo {
	display:none;
	width: 250px;
	height: 50px;
	margin: 0 0 10px;
}

#footer a:hover {
	margin: 0 0 5px;
}


#footer .bloc.b4 a {
	margin: 0 0 0 20px;
}

#footer .scroll-top {
	width: 90px;
	top: 35px;
	right: -8px;
}

#footer .scroll-top:hover { }

#footer .RCIPartenaires {
	width: 100%;
	max-width: 605px;
	margin: 0 0 50px;
}

#footer .RCIPartenaires p{
	font-size: 15px;
}

#footer .RCIPartenaires a {
	padding-right: 5px;
	margin: 10px 6px 0 0;
	max-width: 120px;
}

#footer .RCIPartenaires .last { }

/*************** Post.php *****************/


#content {
	width: 100%;
	max-width: 584px;
	padding: 3px 10px 0 10px;
	min-height:440px;
}

#content.col-990noPaddingNoBackground {
	max-width: 100%;
	padding: 0 0 0 0;
}

.en-profondeur h1,.contact h1{
	font-size: 24px;
	margin: 17px 0 10px;
}

#widgets {
	width: 311px;
	padding: 40px 0;
}

#content .post {
	margin-top:36px;
}

.post *.post-title {
	font-size: 16px;
}

.single *.post-title {
	font-size: 28px;
	margin: 20px 0 0;
}

.post h1:first-child {
	margin-top:0px;
	padding-top:0px;
}

.post-meta {
	width:360px;
	font-size: 14px;
}

.post-meta p {
	margin-top:16px;
}

.post-entry {
	font-size: 14px;
}


.post-meta a, .post-entry a { }

.post-entry a.medianet.button {
	width: auto;
	margin: 20px 0;
	padding: 20px 0 20px 94px;
	line-height: 24px;
}

.post-entry blockquote {
	margin: 20px;
	padding: 10px;
}

.post-entry blockquote p {
	font-size: 18px;
	line-height: 26px;
	margin: 0 0 15px;
}

.post-meta .courriel {
	width: 200px;
	padding: 1px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	top: 16px;
}

#respond {
	margin: 0 0 20px;
}

.netiquette {
	font-size: 11px;
	line-height: 11px;
}

#zh-CN .netiquette *, #ar .netiquette *{
	font-size: 16px !important;
}


.netiquette h5 { }


.netiquette .full {
	padding: 10px;
	font-size: 12px;
}

.netiquette li {
	margin: 0 0 10px;
}


.commentlist li {
	margin: 0 0 20px;
}

.commentlist a { }

.commentlist a:hover { }

/*************** Archives.php *****************/

#content-archive {
	background: #EDEDED;
	width: 95.6%;
	padding: 10px 2% 0;
	/*min-height:430px;*/
}

#content-archive .post {
	padding: 0 0 10px;
	margin: 0 0 20px;
}

#content-archive .post > img {
	width:240px;
}

#content-archive h6 {
	font-size: 24px;
	margin: 10px 0 10px;
}

#content-archive h6 span{ }

#content-archive .surtitre, #content-archive .surtitre a{
	font-size: 11px;
}

#content-archive .p404 h1 {
	font-size: 16px;
}

#content-archive .p404 h6 {
	font-size: 12px;
}

#content-archive .post-entry {
	font-size: 12px;
}

#content-archive .post-entry p {
	margin: 0 0 10px;
}

#content-archive .post-entry a { }

#content-archive .post-entry a:hover { }

#content-archive .post-meta {
	font-size: 12px;
	margin-bottom: 5px;
	width: 100%;
}

#content-archive h1 {
	margin: 5px 0;
	font-size: 16px;
}

#content-archive .post img {
	margin: 0 1% 0 0;
}

#content-archive .fill {
	width:60%;
}

/*************** Archives.php/author *****************/


#content-archive .bio {
	margin: 20px 0;
	padding:3%;
	width: 94%;
}

#content-archive .bio img {
	margin: 0 10px 0 0;
}

#content-archive .bio h5 {
	font-size: 24px;
	margin: 0 0 20px;
}

#content-archive .bio .wrap {
	width: 100%;
	float: none;

}

/*************** Archives.php/emission *****************/

#content-archive .emission {
	padding: 15px;
	margin: 28px 0 50px;
}

#content-archive .emission a.btn {
	width: 60px;
	height: 32px;
	bottom: -32px;
	left: 270px;
}

#content-archive .emission a.btn.on { }

#content-archive .emission h2 {
	font-size: 18px;
	margin: 0 0 20px;
}

#content-archive .emission img.head {
	margin: 0 0 30px;
}

#content-archive .emission p {
	margin: 0 0 10px;
}

#content-archive .emission .animateur {
	padding: 10px;
}

#content-archive .animateur a.an {
	width: 100px;
	height: 100px;
	padding: 7px;
	margin: 0 0 -1px;
}

#content-archive .animateur a.an.on { }

#content-archive .animateur a.an.last {
	padding: 7px !important;
}

#content-archive .animateur div {
	padding: 7px;
}

/*************** page-en-profondeur.php *****************/

.en-profondeur h2 {
	font-size: 15px;
	padding: 10px;
}

.en-profondeur a.wrap { }

.en-profondeur #vedette {
	padding: 0 0 20px;
	margin: 0 0 20px;
	width: 100%;
	max-width: 605px;
}

.en-profondeur #conducteur {
	margin: 0 0 20px;
}

.en-profondeur #conducteur a.wrap {
	width: 100%;
	max-width: 184px;
	height: auto;
	margin: 0 10px 10px 0;
}

.en-profondeur #conducteur h2 {
	height: 30px;
}

.en-profondeur h3 {
	font-size: 12px;
	padding: 0 0 5px;
	margin: 0 0 20px;
}

.en-profondeur #src, .en-profondeur #cbc {
	margin: 0 0 20px;
}

.en-profondeur #src a.wrap, .en-profondeur #cbc a.wrap {
	width: 100%;
	max-width: 184px;
	margin: 0 10px 10px 0;
}

.en-profondeur #src h2 {
	height: 30px;
}

/*************** Page À propos *****************/


#content .contact {
	margin: 0 0 300px;
}

#content .contact h3 {
	font-size: 16px;
}

#content .contact h3.adresse {
	margin: 0 0 5px;
}

#content .contact p {
	font-size: 14px;
}

/*************** search.php *****************/

#content-search {
	width: 95.85%;
	padding: 10px 2% 0;
	min-height:600px;
}

#content-search .post {
	padding: 0 0 10px;
	margin: 0 0 20px;
}

#content-search h6 {
	font-size: 20px;
	margin: 17px 0 10px;
	/*font-weight: normal;*/
}

#content-search .surtitre {
	font-size: 11px;
}

#content-search .fill {
	float: none;
	width: 100%
}

#content-search .p404 h1 {
	font-size: 16px;
}

#content-search .p404 h6 {
	font-size: 12px;
}

#content-search .post-entry { }

#content-search .post-entry p {
	margin: 0 0 10px;
}

#content-search .post-meta { width: 100%}

#content-search h1 {
	margin: 5px 0;
	font-size: 16px;
}

#content-search .post img { margin: 0 10px 0 0}

/*Nav onglet re-utilisable*/
#content nav.navOnglets {
	padding-top:2px;
}

#content nav.navOnglets ul { }

#content nav.navOnglets ul li {
	float:left;
	margin-left:1px;
}

#content nav.navOnglets ul li:first-child {
	margin-left:0px;
}

#content nav.navOnglets ul li a {
	height:29px;
	line-height:29px;
	font-size:10px;
	padding:0px 10px;
	margin: 0 0 0 1px;
}

#content nav.navOnglets ul li a:hover, #content nav.navOnglets ul li a.active { }

#content .tabContent { }

/*A propos de rci*/
#content #sectionContactezNous ul {
	margin:0px;
	padding:0px;
}

#content #sectionContactezNous li {
	margin:0px;
	padding:0px;
}

#sectionContactezNous { 
	margin: 0 0 150px;
}

#sectionContactezNous h2 {
	font-size:26px;
	margin-top:32px;
}

#sectionContactezNous h3 {
	font-size: 18px;
}

#sectionContactezNous p {
	font-size: 14px;
}

/*Contact*/

#contenu-contactezNous h3 { }

#contenu-contactezNous h4 {
	font-size:16px;
	margin:0 0 5px;
}

#contenu-contactezNous h4.adresse + p,
 #contenu-contactezNous h4.formulaire + p {
	margin-top:0px;
}

#contenu-contactezNous #colGauche {
	width: 100%;
	max-width:350px;
}

#contenu-contactezNous #colGauche textarea {
	height:454px;
}

#contenu-contactezNous #colDroite {
	width: 100%;
	max-width:208px;
	float: right;
	margin: 0;
}

#contenu-contactezNous #champsObligatoires {
	margin-bottom:12px;
}

#contenu-contactezNous #colDroite label { }

#contenu-contactezNous input {
	margin-bottom:20px;
}

#contenu-contactezNous #submitForm {
	float: left;
	clear: both;
}

#contenu-contactezNous .invalid label { }

#contenu-contactezNous #colDroite .invalid input, 
#contenu-contactezNous #colGauche .invalid textarea { }

/*Histoire*/

#contenu-histoire h3{ }

#contenu-histoire p.img{
	width: 198px;
	margin: 0 0 10px 10px;
}

#contenu-histoire p.img span{
	margin: 5px;
}


/*Équipe*/

#contenu-equipe .portrait{
	margin: 0 10px 0 0;
}

#contenu-equipe h3{
	margin: 40px 0 20px;
}


#contenu-equipe p{
	font-size: 15px;
	margin: 0 0 10px;
}


/*************** page-cybermagazine.php *****************/

.cybermag td {
	padding: 3px;
}

.cybermag td input { }

.cybermag h2 {
	font-size: 20px;
	margin: 40px 0 0;
}

.cybermag h3 {
	font-size: 16px;
	margin: 20px 0;
}

.cybermag p {
	margin: 0 0 10px;
}




/*************** Découvrir le Canada *****************/

#map-wrap,
#dc-header,
#quiz-wrap {
	display: none;
}


#container #callToActionParcourezCanada {
	width: 99.44444%;
	max-width: 100%;
	float: none;
	padding: 0;
	margin: 0 0 0 3px;
}


#container #colTeaser {
	float: left;
	width: 300px;
	margin: 40px 0;
}