/**
 * CONTENTS
 *
 * SETTINGS
 *   Box-sizing...........Better default `box-sizing`(css)
 *   Word-wrap: break word (css)
 *   Global...............Global styles and config (html)
 *   Normalize.css......../css/normalize.css (html)
 * HEADER - My Tour Through Central Asia*   
 * NAVIGATION and List-Items   
 * BODY
 *   Blog Articles
 *   Blog excerpts 
 * FOOTER
 * 
 * 
 * 
 * 
 *
 *
**/

/*-------------------*\
  SETTINGS
\*-------------------*/

body {
    box-sizing: border-box;
    font-family: 'Cedarville Cursive', cursive;
    background-color: lightyellow;
    word-wrap: break-word; 
    margin: 0 auto;
    color: red;   
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*-------------------*\
  HEADER
\*-------------------*/

header {
	background-color: lightgreen;
	border: 1px solid black;
	width: 70%;
	background: url("/img/Tashkent_Downtown.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding-bottom: 600px;
	position: relative;
    /*container for h1 - My Tour Through Cental Asia*/
}


div.banner_flags {
	height: 100px;
	width: 100%;
	padding: 0px;
	margin: 0 auto;
	position: relative;
}


div#div-flag1 {
	background: url("/img/Kazakh_Flag.svg.png");
	display: block;
	background-size: cover;
	height: 100%;
	width: 200px;
	float: left;
	margin: 0 auto;
	padding: 0px;
	border: 1px solid black;
	
}

div#div-flag2 {
	background: url("/img/Uzbek_Flag.gif");
	display: block;
	background-size: cover;
	height: 100%;
	width: 200px;
	float: center;
	margin: 0 auto;
	padding: 0px;
	border: 1px solid black;
	
}

div#div-flag3 {
	background: url("/img/Tadjik_Flag.png");
	display: block;
	background-size: cover;
	position: absolute;
    top:0px;
    right: 0px;
	height: 100%;
	width: 200px;
	float: right;
	margin: 0 auto;
	padding: 0px;
	border: 1px solid black;
	
}

div#div-flag1>span,
div#div-flag2>span,
div#div-flag3>span {
	display: block;
	visibility:hidden;
	
} 

div#div-flag1:hover span,
div#div-flag2:hover span,
div#div-flag3:hover span {
	visibility: visible;
	background-color: lightyellow;
} 

header h1 {
	font-size: 40px;
	color: red;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 0px;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 100px;
	text-align: center;

	/* For h1, margin: 0 auto is not needed since h1 is 
	a block item with a 100% width inside a 70% width containder = header*/	
}

/*-------------------*\
  NAVIGATION
\*-------------------*/

nav {
	display: -webkit-flex;
    display: flex;
	background-color: lightblue;
	border: .5px solid black;
	margin: 0 auto;
	width: 100%;
	position: absolute;
	bottom: 0px;
	/* position is relative to its container = header*. 
	Must ensure that 'header' position is relative
	to move the 'nav ul' element*/	
	/* nav is container element for .list-nav*/	
}



ul.list-nav {
	margin: 0px auto;
	margin-bottom: 2px;
	padding: 0px;
	/*container*/
	/*this is ul, which is a container for class .list-item*/
	/* nav is the container element for .list-nav*/
}
	

/*ul.list-nav li.list-item1,
ul.list-nav li.list-item2,
ul.list-nav li.list-item3,
ul.list-nav li.list-item4,
ul.list-nav li.list-item5*/

ul.list-nav li {
	/*background-color: white;*/
	filter:alpha(opacity=95); 
	-moz-opacity:.95;
	opacity:.95;
	float: left;
	list-style: none;
	margin: 0 auto;
	margin-left: 12px;
	margin-right: 12px;
	line-height: 0 auto;
	/*each contains 'a' anchors .list-item*/
	/*Across the top Navigation topic containers*/	
}

ul.archived-posts {
	padding-left: 0px;
}

ul.archived-posts li {
	clear: left;
	float: left;
	margin-left: 0px;
	padding-left: 0px;
	width: 100%;
	visibility: hidden;	
}

li.list-item6:hover ul.archived-posts li {
	visibility: visible;
}

ul.list-nav ul {
	display: block;
	position: relative;
	text-align: left;
	width: 100%;
	margin: 0 auto;
	/*padding-left: 0px;*/
	line-height: 0 auto;

	/*container for Archived Posts anchor and anchor*/	
}

ul.list-nav li a {
	color: red;
}

ul.list-nav li a { 
	text-decoration: none;
	color: blue;
	text-align: center;
	font-size: 15px;
	/*without 'a' text-decoration has no target to get rid of underline*/
}

ul.list-nav li a:hover {
	color: green;
}

ul.list-nav li a:active {
	font-size: 20px;
	color: orange;
}

/*-------------------*\
  BODY
\*-------------------*/


section {
	/*background-color: red;*/
	background-image: url("/img/Notebook_Paper.jpg");
	background-size: cover;
	border: 1px solid black;
	margin: 0 auto;
	width: 70%;
	position: relative;	
}

section>h1 {
	filter: alpha(opacity=95);
	-moz-opacity:.95;
	opacity:.95;
	height: auto;
	clear: left;
	margin: 0 auto;
	width: 70%;
	text-align: center;	
	/*--Latest Posts*/
}

.post-title {
	margin: 0 auto;
	text-align: center;
	/*background-color: white;*/
	width: 70%;
	font-size: 15px;
	/*--Blog Post Title no. 1-5*/
} 

div.post-title p {
	clear: left;
	background-color: lightyellow;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	filter: alpha(opacity=95);
	-moz-opacity:.95;
	opacity:.95;
	/*--Blog Posts*/
	/*contained in section; therefore width is 100% of 70% of section
	tag's width*/
}

div.post-title.post-photo {
	background-size: cover;
	clear: left;
	margin: 0 auto;
	padding: 0px;
	width: 100%;
	height:200px;
	border: 20px solid black;	
}

div.post-title p {
	border: 1px dashed;
	filter: alpha(opacity=95);
	-moz-opacity:.95;
	opacity:.95;
}

.post-excerpt {
	clear: left;
	/*background-color: green;*/
	width: 70%;
	border: black 1px;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	filter:alpha(opacity=95); 
	-moz-opacity:.95;
	opacity:.95;
	/*Not contained in section; therefore width must be at 70%*/
}

/*-------------------*\
  FOOTER
\*-------------------*/

footer>p {
	width: 70%;
	margin: 0 auto;
	filter: alpha(opacity=95);
	-moz-opacity:.95;
	opacity:.95;
}