html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	color: white;
}

#section1{
	background-color: red;
	height: 50px;
	width: 150px;
	padding: 10px;
	border: 1px solid black;
	margin: 10px;
}
#section2{
	background-color: orange;
	height: 50px;
	width: 150px;
	padding: 10px;
	border: 1px solid black;
	margin: 10px 30px; 

}
#section3{
	background-color: yellow;
	height: 50px;
	width: 150px;
	padding: 10px;
	border: 1px solid black;
	margin: 10px 60px; 
}
#section4{
	background-color: green;
	height: 50px;
	width: 150px;
	padding: 10px;
	border: 1px solid black;
	margin: 10px 90px; 
}
#section5{
	background-color: blue;
	height: 50px;
	width: 150px;
	padding: 10px;
	border: 1px solid black;
	margin: 10px 120px; 
}
#section6{
	background-color: violet;
	height: 50px;
	width: 150px;
	padding: 10px;
	border: 1px solid black;
	margin: 10px 150px; 
}

<--! Remember that height and width describes the content 'area'. 
Outside of that 'area' is the padding. Next, is the border and then the margin.
The Margin is important because it can be moved or positioned to wherever based 
on the top, bottom, left, or right px sizes that you identify.-->