
body {
	color: white;
}


body>header>strong>a {
	text-align: center;
	font-family: Times, "Comic Sans Ms", Helvetica;
	font-size: 32px;
}

body { font-weight: bold;
}



header {
	text-align: left;
}

#arrow {
	position: relative;
	bottom: 85px;
	left: 45px;
	width: 50px;
	height: 50px;
/***Position: relative-move the element in relation to where it was located
originally.**/		
}

#section1 {
	background-color: red;
	height: 50px;
	width:  50px;
	padding: 10px;
	border: 1px solid black;
	margin: 50px 50px 0px 0px;
	/**position: relative;**/
	float: left;
/**"position: static" makes element follow normal web page flow; 
the element will own the whole block or entire width of page**/
/**0px in margin floats box all the way against L-side of containing 
element**/
}

#section2 {
	background-color: orange;
	height: 50px;
	width:  50px;
	padding: 10px;
	border: 1px solid black;
	margin-top: 50px;
	margin-bottom: 0px;
	float: left;
/**Only 50px in top margin is needed for the Wavelength sign. L and R boxes
each have 50px margins on those sides. Bottom three boxes have 
50px top margins.**/
}

#section3 {
	background-color: yellow;
	height: 50px;
	width:  50px;
	padding: 10px;
	border: 1px solid black;
	/*two rows of three below*/
	margin: 50px 50px 0px 50px;
	float: left;
	/**3 rows of two below**/
	/*position: absolute;
	top: 336px;
	float: left;
	margin-left: 0px;
	margin-right:50px;*/
/***Last 0px on bottom needed because bottom three boxes have 
50px top margins.**/

}

#section4 {
	background-color: green;
	height: 50px;
	width:  50px;
	padding: 10px;
	border: 1px solid black;
	margin: 50px 50px 50px 0px;
	clear:left;
	float: left;
	/*position: relative;*/
/**0px pics in L-margin, first box second row. Must have 50px in top
margin. **/

}
#section5 {
	background-color: blue;
	height: 50px;
	width:  50px;
	padding: 10px;
	border: 1px solid black;
	margin-top: 50px;
	margin-bottom: 50px;
	float: left;
/**Top margin must be 50px, since all top row boxes have 0px in bottom 
margins**/

}
#section6 {
	background-color: violet;
	height: 50px;
	width:  50px;
	padding: 10px;
	border: 1px solid black;
/*two rows of three below*/
	margin: 50px;
	float: left;
/**three rows of 2 below**/
	/*clear: left;
	margin-top: 0px;
	margin-left:122px;*/
}

