/**
 * CONTENTS
 * SETTINGS
 * 
 * NOTES:
 * 	-Target parent containers for display: flex;
 *  -flex-direction: row; is the default property
 *  -flex-wrap: nowrap; is the default property
 *  -Children get assigned percentages of the parent div ht and width. Parent div
    is a block element, so it takes up the entire width of page.
 *  -justify-content: space-between; css places first and last child on the ends
 *  of container ICW set margin and equalizes the space between inner children.
 *  -justify-content: space-around; all children get the same top bottom and L,R 
 *  margins. Rule of collapsing margins doesn't apply.
 *  -When practicing, make parent height larger to see align-items: flex-start; 
 *  -justify-content - x axis
 *  -align-items - y-axis
 *  -align-content: stretch default setting; this is y-axis
 *  -nth-child order. Think of a number line -2,-1,0,1,2. No order set stays at group 0
 *  -1 order moves children to the front. children can have the same order no.
 *  which will group them together.
 *  -Flex shrink makes the target element a sponge. It has the ability to shrink
 *  if necessary.
 *
**/

/*-------------------*\
  SETTINGS
\*-------------------*/
body {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
div.row {
	/*parent!!! is the focus of flex box. Don't give it
	a ht and width. Let it flex.*/
	margin: 5px;
	height: 200px;
	max-width: 1000px;
	width: 1000px;
	padding: 0px;
	border: 1px solid black;
	display: flex;
	/*flex-direction: column;*/
	/*flex-direction: column-reverse;*/
	flex-direction: row;
	/*flex-direction: row-reverse;*/
	/*flex-wrap: wrap;*/
	/*flex-wrap: nowrap;*/
	flex-wrap: wrap-reverse;
	/*justify-content: flex-start;*/
	/*justify-content: flex-end;*/
	/*justify-content: center;*/
	/*justify-content: space-between;*/
	/*justify-content: space-around;*/
	/*align-items: baseline*/
	/*align-items: flex-start;*/
	/*align-items: flex-end;*/
	/*align-items: center;*/
	/*align-items: space-between;*/
	/*align-items: space-around;*/
	/*align-content: stretch;*/
}

/*------------------------*\
  SETTINGS - ALL COLUMNS
\*-------------------------*/
.col-one-half,
.col-one-third,
.col-one-fourth,
.col-one-sixth,
.col-one-eigth {
	margin: 5px;
	padding: 0px;
	line-height: 50px;
	/*width: 60px;*/
}	

.col-one-half {
	background-color: red;
	border: 1px solid black;		

}

.col-one-third {
	background-color: yellow;
	border: 1px solid black;	
}

.col-one-fourth {
	background-color: orange;
	border: 1px solid black;
	font-size: 9px;
	text-align: center;	
}

.col-one-sixth {
	background-color: green; 
	border: 1px solid black;
	font-size: 9px;	
}

.col-one-eigth {
	background-color: orange; 
	border: 1px solid black;	
}

/*-------------------*\
      1/2 COLUMNS
\*-------------------*/
.col-one-half {
	width: 50%;
}
.col-one-half:nth-child(2) {
    width: 20%;
}


/*-------------------*\
      1/3 COLUMNS
\*-------------------*/	

.col-one-third:nth-child(odd) {
	background-color: lightgreen;
	width: 65%
}

.col-one-third:nth-child(2) {
	flex-shrink: 1;
}

/*.col-one-third:nth-child(3) {
	flex-grow: 2;
}*/

/*-------------------*\
      1/4 COLUMNS
\*-------------------*/
.col-one-fourth:nth-child(1) {
	width: 3%;
	height: 3%;

}
.col-one-fourth:nth-child(2) {
	width: 4%;
	height: 4%;

}
.col-one-fourth:nth-child(3) {
	width: 8%;
	height: 8%;

}
.col-one-fourth:nth-child(4)  {
	width: 10%;
	height: 10%;

}


/*-------------------*\
      1/6 COLUMNS
\*-------------------*/
.col-one-sixth {
	width: 30%;
	height: 10%;
/*align-content: center;*/
}

.col-one-sixth:nth-child(2)  {
	flex-shrink: 2;
	background-color: yellow;
}

/*.col-one-sixth:nth-child(4) { 
 	flex-grow: 1;
 	align-self: bottom;
}*/

/*.col-one-sixth:nth-child(6) { 
 	flex-grow: 2;
 	align-self: right;
}*/

/*flex-grow: allows you to control the size at which elements
grow icw known sizes; i.e. assign flex-grow:1 to a known size element. Then, /
/*flex-wrap: wrap;*/
/*flex-grow: 0; is default;


/*-------------------*\
      1/8 COLUMNS
\*-------------------*/

.col-one-eigth:nth-child(1) {
	width: 50%;
	height: 10%;
	background-color: blue
}

.col-one-eigth:nth-child(2) {
	width: 25%;
	height: 10%;

}
.col-one-eigth:nth-child(3){
	width: 12.5%;
	height: 10%;

}
.col-one-eigth:nth-child(4) {
	width: 06.25%;
	height: 10%;
}

.col-one-eigth:nth-child(5) {
	width: 03.125%;
	height: 10%;
}


.col-one-eigth:nth-child(6) {
	width: 01.6625%;
	height: 10%;
}

.col-one-eigth:nth-child(7) {
	width: 00.78125%;
	height: 10%;
}

.col-one-eigth:nth-child(8) {
	width: 00.390625%;
	height: 10%;
}