

#wrapper{

	margin: 0 auto;
    width: 900px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: lightblue;
    background-image: -webkit-linear-gradient(top, lightblue 0%, yellow 100%);

}

h1{

	text-decoration: underline;
}


h4{

	text-decoration: underline;
}



