/**
 * CONTENTS
 *
 * SETTINGS
 *
 * NAVIGATION BAR
 * 
 * REGISTRATION FORM AND PIC
 *
 * MAIN CONTENT
 *
 * FOOTER
 *
 *
**/

/*-------------------*\
  SETTINGS
\*-------------------*/







/*-------------------*\
  NAVIGATION BAR
\*-------------------*/
body#wrapper {
	border: 1px solid black;
	width: 1300px;
	height: 1200px;
}

body#wrapper nav {
	background-color: yellow;
	border: 0px 1px 1px 1px solid black;
	height: 100px;
	margin: 0 auto;
}

div.President {
	float: left;
	margin: 0px;

}

div.President p {
	margin-top: 35px;
	margin-left: 5px;

}

nav div.top-nav ul {
	float: left;
	position: relative;

}

nav div.top-nav ul li {
	float: left;
	margin: 20px;
	list-style: none;		
}


nav div.top-nav ul li a {
	text-decoration: none;
	
}


/*-------------------*\
  REGISTRATION AND PIC
\*-------------------*/


div.register-pic {
	background-image: url("/img/stephenroot.jpeg");	
	position: relative;
	margin-bottom: 0px;
	width: 100%;
}

div.register-pic img {
	/*object-fit: fill;*/
	/*object-fit: contain;*/
	object-fit: scale-down;
	/*object-fit: cover;*/
	/*background-color: cover;*/
	/*background-repeat: no-repeat;*/
}


div.register-pic form {
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
	justify-content: center;
	justify-content: space-around;
	width: 90%;
	padding-bottom: 200px;
	padding-top: 80px;
	padding-left: 55px;
	padding-right: 60px;

}

div.register-pic form p {
	margin: 0px;
	padding: 0px;

}

textarea#e-mail_address {
	height: 18px;
	border: 0px solid black;
	

}

textarea#zipcode {
	height: 18px;
	border: 0px solid black;
	

}

button#join-us {
	height: 24px;
	width: 70px;
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
	background-color: white;


}

select#state-list {
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
	
}



/*-------------------*\
  MAIN CONTENT
\*-------------------*/
div.main-content {
	height: 400px;
	width: 1200px;
	border-bottom: 1px solid black;		
}


div.swing-line {
	float: left;
	height: 398px;
	width: 700px;
	margin-right: 100px;

}


div.news-volume {
	background-color: yellow;
	float: right;
	height: 398px;
	width: 300px;
	margin-left: 90px;

}

/*-------------------*\
  FOOTER
\*-------------------*/


footer.footer-quote {
	width: 1000px;
}

footer p {
	margin: 0px;
	margin-top: 5px;
}

footer.footer-quote>p {
	float: left;
	margin-bottom: 2px;
  /*acutal Root quote*/
}

footer.footer-quote p {
	float: left;
	font-size: 10px;
	margin-top: 10px;
	/*Copyright*/

}










