<!DOCTYPE html>
<html ng-app="modelTest">
<head>
    <meta charset="utf-8">
    <title>Angular Forms</title>

</head>
<body>
<!-- Novalidate disables the browser's default validation. Angular recommends
     doing this in order to make a more consistent user experience across browsers -->
<form novalidate>
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" ng-model="user.firstName" maxlength="50" required>

    <label for="last_name">Last Name</label>
    <input type="text" id="last_name"  ng-model="user.lastName" maxlength="100" required>

    <label for="DOB">Date of Birth</label>
    <input type="date" id="DOB" ng-model="user.dob" required>

    <label for="gitHub">GitHub Page</label>
    <input type="url" id="gitHub" ng-model="user.gitHub" minlength="6" required>
</form>

<p>
    <h1>Welcome, {{user.firstName}}!</h1>

    <h1>Your last name is {{user.lastName}}</h1>s

    <h1>Your e-mail is {{user.email}}</h1>

</p> 


    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/modelTest.js"></script>
</body>